footer {
    background-color: darken($colour-gray, 70%);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2*$layout_margin 1.5*$layout_margin;
    @include media(desktop-only){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;   
    }
    @include media(tablet-only){
        display: flex;
        flex-direction: column;
        text-align: center; 
    }
    
    & h2{
        @include media(desktop-only){
         width: 15%;   
         text-align: center; 
        }  
    }
    & nav{
        @include media(desktop-only){
         width: 82%;    
        }  
    }
    & a {
        text-decoration: none;
        color: $colour-white;
        font-weight: 900;
        & i {
            margin-right: 0.5*$layout_margin;
            width: 20px;
            height: 20px;

        }
        &:hover{
            color: $colour-primary;
        }
    }

 & ul {
    @include media(desktop-only){
        display: flex;
        flex-direction: row;    
    }
 }
    & li {
        list-style-type: none;
        margin-bottom: 0.5*$layout_margin;
        font-weight: 900;
        @include media(desktop-only){
           width: 30%;
           text-align:end;
        }  
    }
}