footer {
    background-color: darken($colour-gray, 70%);
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 2*$layout_margin 2*$layout_margin;
    

    & a {
        text-decoration: none;
        color: $colour-white;
        font-weight: 900;
        

        & i {
            margin-right: 0.5*$layout_margin;
            width: 20px;
            height: 20px;

        }
        &:hover{
            color: $colour-primary;
        }
    }

    & li {
        list-style-type: none;
        margin-bottom: 0.5*$layout_margin;
        font-weight: 900;
        
      
    }

}