.form{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $colour-gray;
    box-shadow: inset 1px 4px 9px -6px;
    height:50%;
   
    &__position{
        border: none;
        justify-self: baseline;
        padding: 0 $layout_margin;
    } 
    &__rechercher{
        border: none;
        justify-self:baseline;
        background-color: $colour-gray;
       
        

    }
}