/* Error: Undefined mixin.
 *     ,
 * 123 |                     @include check-status-off;
 *     |                     ^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass/pages/_menu.scss 123:21  @import
 *   sass/main.scss 17:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 123 \2502                      @include check-status-off;\a     \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass/pages/_menu.scss 123:21  @import\a   sass/main.scss 17:9           root stylesheet";
}
