@keyframes coeurdegrade
{
	0%
	{
	background: linear-gradient(180deg, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	opacity:0.1;
	}

	100%
	{
	background: linear-gradient(180deg, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
	}

}

@keyframes bloc_menu
{
 0%{
	 transform: translateY(30px);
	 opacity: 0;
	}
 100%{
	transform: translateY(0px)
	
	}	
}