.card-resto {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(226 223 223);
    border-radius: 20px;
    height: 230px;

    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    color: #333;
    width: 100%;
    margin-bottom: 4%;

    &__new{
        
        position: absolute;
        width: 75px;
        padding: 0.5*$layout_margin 0;
        text-align: center;
        right: $layout_margin;
        top: $layout_margin;
        background-color: $colour-tertiary;
        color:darken($colour-tertiary, 50%);
        z-index: 1;
        & h4{
            font-size: 80%;
        }
    }
    & .card-image {
        height: 70%;
        overflow: hidden;
        position: relative;
        border-radius: 20px 20px 0px 0px;
        box-sizing: border-box;
    }

    & .card-image img {
        filter: grayscale(0);
        min-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
     

    & .object-fit-norm {
        object-fit: cover;
    }

    .card-image img:hover {
        filter: grayscale(1);
    }

    & .bloc-nom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: $layout_margin;
        
        &:hover i{
           
           
            color: $colour-primary;
                background-color: rgba($colour-primary, 0.2);
            
        }
        
    }

}