.card-resto {
    background-color: white;
    box-shadow: 2px 2px 20px rgb(226, 223, 223);
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    width: 47%;


    &__card-image {
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    height: 25vh;
}

&__card-image img {
    filter: grayscale(0);
    min-height: 100%;
    max-width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
&--object-fit-norm {
    object-fit: cover;
}
& h4 {
    box-sizing: border-box;
    padding: 5%;
    margin: 0;
}

.card-image img:hover {
    filter: grayscale(1);
}
}