#loader-container {
  position: absolute;
  background-color: $colour-white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  cursor: wait;
  animation: fade-out 2000ms both;
  color: $colour-primary;


  /*   & .circle{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  } */

  & .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .wave {
      width: 5px;
      height: 100px;
      background: linear-gradient(45deg, $colour-primary, $colour-secondary);
      margin: 10px;
      animation: wave 0.6s linear infinite;
      border-radius: 20px;
    }

    & .wave:nth-child(2) {
      animation-delay: 0.05s;
    }

    & .wave:nth-child(3) {
      animation-delay: 0.1s;
    }

    & .wave:nth-child(4) {
      animation-delay: 0.15s;
    }

    & .wave:nth-child(5) {
      animation-delay: 0.2s;
    }

    & .wave:nth-child(6) {
      animation-delay: 0.25s;
    }

    & .wave:nth-child(7) {
      animation-delay: 0.3s;
    }

    & .wave:nth-child(8) {
      animation-delay: 0.35s;
    }

    & .wave:nth-child(9) {
      animation-delay: 0.4s;
    }

    & .wave:nth-child(10) {
      animation-delay: 0.45s;
    }
  }

}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}





@keyframes fade-in {
  0% {
    opacity: 0;
 /*  transform: scaleX(0);  */
  }

  50% {
    opacity: 0;
    transform: scaleX(1); 

  }

  70% {
    animation-timing-function: cubic-bezier(.25, 0.25, 1);
    opacity: 0.9;
  }

  100% {
    transform: scaleX(1); 
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;

  }

  70% {
    animation-timing-function: cubic-bezier(.25, 0.25, 1);
    opacity: 0.9;
  }

  100% {

    opacity: 0;
  }
}

#container {
  transform: scaleX(0);
  animation: fade-in 3000ms 150ms forwards;

}

