body {
    font-family: "Roboto", 'Arial', sans-serif;
    color: $colour-black;
}
h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    font-size: x-large; 
}
h2 {
    font-family: 'Arial', sans-serif;
    font-size:x-large; 
    font-weight: 900;
    margin-bottom: $layout_margin;
    @include media(desktop-only) {
    margin-bottom: 2*$layout_margin;
    }
}
.slogan p {
    color:darken($colour-gray, 60%);
    margin-bottom: $layout_margin*2;
}
footer h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 600;
    font-size: large; 
    color: white;
}
footer li a {
   
    font-weight: 600;
    font-size: large; 
    color: white;
    @include media(desktop-only){
     font-size: 95%;
        
        
     }
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:medium; 
}
input[type="search"]::placeholder {
    color: $colour-black;
    font-weight: 600;
    font-size:medium; 
}

button {
    color: $colour-black;
    font-weight: 550;
    font-size:medium; 
    }

