.slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $colour-lightgray;
    padding: $padding*1.5 $padding*2;
    text-align: center;

    & h1 {
        margin-bottom: $layout_margin;
    }
}

.fctnt {
    display: flex;
    flex-direction: column;
    margin: 2*$layout_margin 1.2*$layout_margin;
    @include desktop-only {
        margin-left: 2*$layout_margin;
        margin-right: 2*$layout_margin;
    }

    &__ens_btns {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include desktop-only {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}

.resto {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $colour-lightgray;
    padding: 2*$layout_margin $layout_margin;
    @include desktop-only {
    padding: 2*$layout_margin 2*$layout_margin;
    }
    @include tablet-only {
        padding: 2*$layout_margin 2*$layout_margin;
        }
    & .liste_resto {
        @include desktop-only {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            /* margin-right: 2*$layout_margin;
            margin-left: 2*$layout_margin; */
        }
        @include tablet-only {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            /* margin-right: 2*$layout_margin;
            margin-left: 2*$layout_margin; */
        }
    }
}