.menu {

    /* ENTETE */
    &__entete {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;

        & img {
            width: 100%;
            height: 255px;
            object-fit: cover;
        }

        & .nom_resto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 2*$layout_margin;
            border-radius: 45px 45px 0 0;
            margin-top: -2*$layout_margin;
            background-color: $colour-lightgray;
        }
    }

    /*  PLATS */
    .menu__description--plat {

        @include media(desktop-only, tablet-only) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            background-color: $colour-lightgray;
            padding: 0 2*$layout_margin;
        }
    }

    &__description {
        padding: 2*$layout_margin;
        background-color: $colour-lightgray;

        @include media(desktop-only, tablet-only) {
            width: 400px;
            /* padding: 2*$layout_margin 0; */
        }

        &--titre {
            margin-bottom: 3*$layout_margin;
            text-transform: uppercase;
            padding-bottom: 0.5*$layout_margin;
            margin-bottom: $layout_margin;
            position: relative;

            &:after {
                content: '';
                border-bottom: 3px solid $colour-tertiary;
                width: 50px;
                height: 10px;
                position: absolute;
                left: 0;
                top: 1.5*$layout_margin;

            }
        }

        &--bloc_plat {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            width: 100%;
            background-color: $colour-white;

            border-radius: 20px;
            margin-bottom: $layout_margin;
            animation: bloc_menu 2s forwards;
            @include shadow;

            & h4 {
                @include textcut;
            }

            &:hover {
                @include shadow-strong;

                & .menu__description--bloc_plat--check_status, .menu__description--bloc_plat--details h4 {
                    transform: translate(0) ;
                }
                
                
            }

            & .info {
                padding: 0.7*$layout_margin $layout_margin;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;

            }

            &--details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                & p {
                    @include textcut;
                    margin-right: 2%;
                    width:70%
                }

                & h4 {
                    width: 30%;
                    margin-left: 10%;
                    overflow: visible;
                    text-overflow: initial;
                    margin-bottom: 0px;
                    @include check-status-off;
                    text-align: right;
                }
            }

            &--check_status {
                position: relative;
                background-color: $colour-tertiary;
                color: $colour-white;
                display: flex;
                align-items: center;
                border-radius: 0 20px 20px 0;
                transform-origin: right;
                @include check-status-off;


                & i {
                    padding: $layout_margin;
                    animation: rotation 1050ms 800ms ;
                    /* animation-iteration-count: 1; */
                }
            }
        }

        &--bloc_plat:nth-child(2) {
            animation-delay: 0.1s;
        }

        &--bloc_plat:nth-child(3) {
            animation-delay: 0.2s;
        }

        &--bloc_plat:nth-child(4) {
            animation-delay: 0.3s;
        }
    }
}