.menu {

    /* ENTETE */
    &__entete {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;

        & img {
            width: 100%;
            height: 255px;
            object-fit: cover;
        }

        & .nom_resto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 2*$layout_margin;
            border-radius: 45px 45px 0 0;
            margin-top: -2*$layout_margin;
            background-color: $colour-lightgray;
            @include media (tablet-only){
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center; 
                gap: $layout_margin;
            }
        }
    }

    /*  PLATS */
    .menu__description--plat {

        @include media(desktop-only) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            background-color: $colour-lightgray;
            padding: 0 2*$layout_margin;
        }
        @include media(tablet-only) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            background-color: $colour-lightgray;
            padding: 0 2*$layout_margin;
            gap: $layout_margin;
        }
    }

    &__description {
        padding: 2*$layout_margin;
        background-color: $colour-lightgray;
        transition: opacity 1s ease-in-out;
        @include media(desktop-only) {
          width: 32%;
          padding: 0px;
            
        }
        @include media( tablet-only) {
            width: 48%;
           padding: 0px;
              
          }

        &--titre {
            margin-bottom: 3*$layout_margin;
            text-transform: uppercase;
            padding-bottom: 0.5*$layout_margin;
            margin-bottom: $layout_margin;
            position: relative;

            &:after {/* ligne verte*/
                content: '';
                border-bottom: 3px solid $colour-tertiary;
                width: 50px;
                height: 10px;
                position: absolute;
                left: 0;
                top: 1.5*$layout_margin;
            }
        }

        &--bloc_plat {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            background-color: $colour-white;
            border-radius: 20px;
            margin-bottom: $layout_margin;
            opacity: 0;
            animation: bloc_menu 1500ms forwards; 
            @include shadow;

            & .info {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 0.7*$layout_margin $layout_margin;
                overflow: hidden;
                @include textcut;
                &--titre-plat {
                    width: 70%;
                    
                    & h4{
                    @include textcut;
                    margin-bottom: 0.5*$layout_margin;
                        }

                    & p.produit{  
                       @include textcut;
                  
                             }

                             }

                &--prix {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 30%;
                    padding:0 $layout_margin;
                    font-weight: 900;
                         }
                    }

            &--check_status {
                right: 0px;
                width: 4*$layout_margin;
                position: absolute;
                background-color: $colour-tertiary;
                color: $colour-white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 20px 20px 0;
                /*bouton check caché*/
                transform: translateX(100%);
                transition: 0.5s ease;

                & i {
                    padding: 1.2*$layout_margin;
                        }
                    }
            /*animation bouton check */          
            &:active{           
                & .menu__description--bloc_plat--check_status {
                    transform: translateX(0%);
                    transition: 0.5s ease;
                    & i{
                        animation: rotation 700ms ;
                    }
                }
               & .info{
                   padding-right: 4*$layout_margin;
               }  
            }         
            &:hover {
                @include shadow-strong;

            }
            @include media(desktop-only, tablet-only) {
                &:hover {
                    & .menu__description--bloc_plat--check_status {
                        transform: translateX(0%);
                        transition: 0.5s ease;
                        & i{
                            animation: rotation 700ms ;
                        }
                    }
                   & .info{
                       padding-right: 4*$layout_margin;
                   }
    
                }
            }
        }
        /*fondu enchainé et mvt décalé de chaque bloc*/
        &--bloc_plat:nth-child(2) {
            animation-delay: 0.3s;
        }

        &--bloc_plat:nth-child(3) {
            animation-delay: 0.6s;
        }

        &--bloc_plat:nth-child(4) {
            animation-delay: 0.9s;
        }

        &--bloc_plat:nth-child(5) {
            animation-delay: 1.2s;
        }
    }
}