.menu {

    /* ENTETE */
    &__entete {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;

        & img {
            width: 100%;
            height: 255px;
            object-fit: cover;
        }

        & .nom_resto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 2*$layout_margin;
            border-radius: 45px 45px 0 0;
            margin-top: -2*$layout_margin;
            background-color: $colour-lightgray;
        }
    }

    /*  PLATS */
    .menu__description--plat {
        @include media(desktop-only, tablet-only) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            background-color: $colour-lightgray;
            padding: 0 2*$layout_margin;
        }
    }

    &__description {
        padding: 2*$layout_margin;
        background-color: $colour-lightgray;

        @include media(desktop-only, tablet-only) {
            width: 400px;
            padding: 2*$layout_margin 0;
        }


        &--titre {
            margin-bottom: 3*$layout_margin;
            text-transform: uppercase;
            padding-bottom: 0.5*$layout_margin;
            margin-bottom: $layout_margin;

            position: relative;

            &:after {
                content: '';
                border-bottom: 3px solid $colour-tertiary;
                width: 50px;
                height: 10px;
                position: absolute;
                left: 0;
                top: 1.5*$layout_margin;

            }
        }

        &--bloc_plat {
            width: 100%;
            background-color: $colour-white;
            padding: $layout_margin;
            border-radius: 20px;
            margin-bottom: $layout_margin;
            @include shadow;

            & h4 {
                @include textcut;
            }


            &--details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & p {
                    @include textcut;
                    margin-right: 2%;
                }

                & h4 {
                    margin-left: 10%;
                    overflow: visible;
                    text-overflow: initial;
                }
            }
        }



    }








}