@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@mixin textcut {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        &{ @content; }
        }
    }
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)){
        &{ @content; }
        }
    }
@mixin tablet-down {
    @media screen and (min-width: map-get($breakpoints, phone)) and (max-width: map-get($breakpoints, tablet)){
        &{ @content; }
        }
    }
    